body{
    font-family:'Noto sans', sans-serif;
    background-color:RGB(80, 80, 80)
}

div.h1{
    width: 100%;
    height: 20px;
    background-color:RGB(120, 120, 120)
}

.h1{ font-size: 20px;}

footer{
    background-color:RGB(120, 120, 120)
    
}